<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99407949782-0qstvobo5ek13duana94r8aqk4j0peo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99407949782-0qstvobo5ek13duana94r8aqk4j0peo1</string>
	<key>API_KEY</key>
	<string>AIzaSyCOah3ADABJgdPvGWlJ597QcVzb-f-zflA</string>
	<key>GCM_SENDER_ID</key>
	<string>99407949782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTicketReseravtionApp</string>
	<key>PROJECT_ID</key>
	<string>bus-ticket-booking-4f819</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-ticket-booking-4f819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99407949782:ios:2e195fadf88ae7f1bd3e77</string>
</dict>
</plist>